<br/><br/>
<section id="results-page">
    <div class="container">
        <div class="center">
            <h2>Detalles de la noticia:</h2>
        </div>
        <div class="row contact-wrap">
            <div class="status alert alert-success" style="display: none"></div>
            <div id="content"></div>
            <p style="color:blue">A {{number_likes}} personas les gusta esta noticia</p>
        </div>
        <div ng-show="rank">
          <p class="clasificacion">
            <input id="radio1" type="radio" name="estrellas" value="5" ng-model="value" ng-change="rank(value)"><!--
            --><label for="radio1">★</label><!--
            --><input id="radio2" type="radio" name="estrellas" value="4" ng-model="value" ng-change="rank(value)"><!--
            --><label for="radio2">★</label><!--
            --><input id="radio3" type="radio" name="estrellas" value="3" ng-model="value" ng-change="rank(value)"><!--
            --><label for="radio3">★</label><!--
            --><input id="radio4" type="radio" name="estrellas" value="2" ng-model="value" ng-change="rank(value)"><!--
            --><label for="radio4">★</label><!--
            --><input id="radio5" type="radio" name="estrellas" value="1" ng-model="value" ng-change="rank(value)"><!--
            --><label for="radio5">★</label>
            <p>Número de votos: {{rank_stars.number_ranks}}</p>
            <p>Media: {{rank_stars.stars}}</p>
            </p>
        </div>
        <div>
	        <button type="button" ng-click="like_this()">Me gusta</button>
	        <span ng-show="liked">Ya te gusta esta noticia</span>
	        <br><br><hr>
    	</div>
        <div ng-show="sec_comments" ng-repeat="comment in comments">
        	 <p><img src="{{comment.photo}}"> {{comment.user}}, {{comment.date_}}</p>
        	 <p>{{comment.message}}</p>
        </div>
        <span ng-show="empty_comments">{{no_comments}}</span>
        <div ng-show="area_comments">
        	<textarea type="text" ng-model="new_comment" ng-keyup="$event.keyCode == 13 ? sent_comment() : null"></textarea>
        	<input type="submit" ng-click="sent_comment()">
        </div>
    </div>
</section>