<div class="container">
    <form id="changepass_form" name="changepass_form" class="changepass_form">
        <br />
        <div class="form-title"><h2 class="form-contact-heading">Cambia tu contraseña</h2></div>
        <p>Por favor introduce tu nueva contraseña.</p>

        <div class="control-group">
            <input required ng-model="change.password" type="password" id="password" name="inputPassword" placeholder="Password" class="form-control">
            <span class="text-danger" ng-show="changepass_form.password.$error.required && (changepass_form.password.$dirty || changepass_form.password.$touched) || changepass">{{span_changepass_password}}</span>
        </div>
        <div class="control-group">
            <input required ng-model="change.password2" type="password" id="password2" name="inputPassword2" placeholder="Repite tu Password" class="form-control">
            <span class="text-danger" ng-show="changepass_form.password2.$error.required && (changepass_form.password2.$dirty || changepass_form.password2.$touched) || changepass2">{{span_changepass_password2}}</span>           
        </div>
        <button type="button" id="update" class="btn btn-primary btn-lg" ng-show="changepass_form.$valid" ng-click="update_password()">Entrar</button>
    </form>
</div>