<div class="tab">
  <button class="tablinks" ng-click="show_data('personal_data')">Datos personales</button>
  <button class="tablinks" ng-click="show_data('likes_comments')">Registro</button>
  <button class="tablinks">Amigos</button>
</div>
<div id="personal_data" class="tabcontent">
  <form id="profile_form" name="profile_form" class="form-perfil">
      <br />
      <div class="row contact-wrap">
      	<div class="status alert alert-success" style="display: none"></div>
  		    <div class="col-sm-4 col-sm-offset-1">
  		    	<div class="control-group">
                  	<label class="nombre pefil">Nombre:</label>
                  	<p>
                      <input type="text" id="inputName" name="inputName" class="form-control" value="{{user[0].real_name}}" ng-model="user.real_name" placeholder="Nombre">
                  </p>
              </div>
              <div class="control-group">
                  <label class="pefil">Apellidos:</label>
                  <p>
                      <input type="text" id="inputSurn" name="inputSurn" placeholder="Apellidos" class="form-control" ng-model="user.real_surname">
                  </p>
              </div>
          </div>

          <div class="col-sm-4 col-sm-offset-1">
          	<div class="control-group">
              	<br>
              	<h1 class="center" id="username">{{user[0].name_user}}</h1>
              	<img id="avatar_user" src="{{user[0].photo}}" />

              	<span id="e_avatar" class="styerror" style="color:#FF0000"></span>
              	<div id="progress">
                  	<div id="bar"></div>
                  	<div id="percent"></div >
              	</div>
              	<div class="msg"></div>
              	<br/>
            <button id="dropzone" dropzone="dropzoneConfig" class="dropzone"></button>
              	<br />
          	</div>

          <div class="control-group">
              <label class="email pefil">Email:</label>
              <p>
                  <input type="text" id="inputEmail" name="inputEmail" class="form-control" value="{{user[0].email}}" readonly="readonly">
              </p>
                          <div class="control-group">
                  <label class="pefil">Fecha de Nacimiento:</label>
                  <p>
                      <input type="text" id="inputBirth" name="inputBirth" class="form-control" calendar ng-model="user.date_birth">
                  </p>
              </div>
              <div class="control-group">
                <label class="pefil">Pais:</label>
                <p>
                    <select name="pais" class="form-control" ng-model="user.pais"ng-options="item.sName for item in paises" placeholder="Pais" id="pais" ng-change="resetcountry()">
                        <option value="">Seleccione un pais</option>
                    </select>
                </p>
              </div>
              <div class="control-group">
                  <label class="pefil">Provincia:</label>
                <p>
                    <select name="provincia" class="form-control" id="provincia"  ng-options="item.nombre for item in provincias"
                    ng-model="user.provincia" placeholder="Provincia" ng-change="resetValues()" ng-disabled="user.pais.sISOCode!='ES'">
                        <option value="">Seleccione una provincia</option>
                    </select>
                </p>
              </div>
              <div class="control-group">
                  <label class="pefil">Poblacion:</label>
                <p>
                    <select type="text" class="form-control" name="poblacion" ng-model="user.poblacion"
                    ng-options="item.poblacion for item in poblaciones "placeholder="Poblacion" id="poblacion" ng-disabled="user.pais.sISOCode!='ES'">
                        <option value="">Seleccione una ciudad</option>
                    </select>
                   <input class="submit_user" type="button" name="submit" id="submitBtn_user" value="Guardar" ng-click="update_profile()" />
                </p>
              </div>
          	</div>
      	</div>
      </div>
      </div>
  </form>
</div>

<div id="likes_comments" class="tabcontent">
  <h3>Comentarios</h3>
  <p ng-repeat="data in comment">
    {{data.date_}}, {{data.message}}, {{data.id_new}}<br>
  </p>
  <hr>
  <h3>Likes</h3>
  <p ng-repeat="like in likes">
    {{like.id_new}}, {{like.date_}}<br>
  </p>
  <hr>
  <h3>Ranks</h3>
  <p ng-repeat="rank in ranks">
    {{rank.user}}, {{rank.id_new}}, {{rank.ranking}}
  </p>
</div>