<section id="contact-page">
      <div class="container">
          <div class="center">
          </div>
          <div class="row contact-wrap">
              <div class="status alert alert-success" style="display: none"></div>
              <form id="recover_form" class="recover_form" name="recover_form">
                  <div class="col-sm-4 col-sm-offset-1">
                      <div class="recover">
                          <label>Email</label>
                          <input required ng-model="recover.email" type="text" id="email" class="form-control" ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i">
                          <span id="recover_email_error" ng-show="recover_form.email.$error.required && (recover_form.email.$dirty || recover_form.email.$touched) || error_recover_email">{{span_recover_email}}</span>
                          <span class="text-danger" ng-show="register_form.email.$error.email">El email no es válido</span>
                      </div>
                      <div class="form-group">
                          <button type="button" id="sent_email" class="btn btn-primary btn-lg" ng-show="recover.email" ng-click="recover_email()">Enviar Email</button>
                      </div>
                  </div>
                </form>
              </div>
            </div>
          </section>