<section id="contact-page">
      <div class="container">
          <div class="center">
              <h2>Datos personales:</h2>
          </div>
 <div class="row contact-wrap">
    <div class="status alert alert-success" style="display: none"></div>
		 <form id="register_form" class="register_form" name="register_form">
		    <div class="col-sm-4 col-sm-offset-1">
		      	<div class="register">
		        	<label>Usuario:</label>
		        	<input required ng-model="register.name" type="text" name="name" id="name" class="form-control">
		        	<span class="text-danger" ng-show="register_form.name.$error.required && (register_form.name.$dirty || register_form.name.$touched) || register_name">{{span_register_name}}</span>
		    	</div>
		    	 <div class="register">
		            <label>Email:</label>
		            <input required ng-model="register.email" type="email" name="email" id="email" class="form-control" ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i">
		        	<span class="text-danger" ng-show="register_form.email.$error.required && (register_form.email.$dirty || register_form.email.$touched) || register_email">{{span_register_email}}</span>
      				</span>
      				<span class="text-danger" ng-show="register_form.email.$error.email">El email no es válido</span>
		        </div>
		        <div class="register">
		            <label>Contraseña:</label>
		            <input required ng-model="register.password" type="password" name="password" id="password" class="form-control">
		        	<span class="text-danger" ng-show="register_form.password.$error.required && (register_form.password.$dirty || register_form.password.$touched) || register_password">{{span_register_password}}</span>
		        </div>
		        <div class="form-group">
		            <label>Repita contraseña:</label>
		            <input required ng-model="register.password2" type="password" name="password2" id="password2" class="form-control">
		        	<span class="text-danger" ng-show="register_form.password2.$error.required && (register_form.password2.$dirty || register_form.password2.$touched) || register_password2">{{span_register_password2}}</span>
		        </div>
		        <div class="form-group">
		            <button type="button" id="register" class="btn btn-primary btn-lg"ng-show="register_form.name.$valid && register_form.email.$valid && register_form.password.$valid && register_form.password2.$valid"
               		ng-click="submitRegister()">Entrar</button>
		        </div>
		    </div>
		</form>
	</div>
</div>
</section>