<br><br>
<section id="contact-page">
      <div class="container">
          <div class="center">
              <h2>Credenciales</h2>
          </div>
          <div class="row contact-wrap">
              <div class="status alert alert-success" style="display: none"></div>
              <form id="sign_in" class="contact-form" name="sign_in">
                  <div class="col-sm-4 col-sm-offset-1">
                      <div class="form-group">
                          <label>Usuario</label>
                          <input required ng-model="sign_in.name" ng-keypress="clean()" type="text" id="name" class="form-control">
                          <span id="error_name" ng-show="sign_in.name.$error.required && (sign_in.name.$dirty || sign_in.name.$touched) || sign_in_name">{{span_sign_in_name}}</span>
                          <span id="error_user" ng-show="user_not_valid">Usuario no registrado</span>
                      </div>
                      <div class="form-group">
                          <label>Contraseña</label>
                          <input required ng-model="sign_in.password" type="password" id="password" class="form-control" ng-keypress="clean()">
                          <span id="error_password" ng-show="sign_in.password.$error.required && (sign_in.password.$dirty || sign_in.password.$touched) || sign_in_password">{{span_sign_in_password}}</span>
                          <span id="bad_password" ng-show="password_not_valid">Contraseña incorrecta</span>
                      </div>
                      <div class="form-group">
                          <button type="button" ng-click="sign_in_manual()">Entrar</button>
                          <button type="button" name="create_user" id="create_user"><a href='#/register'>Registo</a></button>
                          <button type="button" name="recover_password" id="recover_password"><a href='#/recover'>Recuperar</a></button>
                      </div>
                  </div>
                  <div class="col-sm-2">
                          <button type="button" class="btn" id="fb_login" ng-click='sign_in_fb()'><i class="fa fa-facebook fa-3x">FaceBook</i></button></br></br>
                          <button type="button" class="btn" id="tw_login" ng-click='sign_in_tw()'><i class="fa fa-twitter fa-3x">Twitter</i></button></br></br>
                          <button type="button" class="btn" id="g_login" ng-click='sign_in_g()'><i class="fa fa-google-plus fa-3x">G+</i></button>
                  </div>
              </form>
          </div>
      </div>
  </section>