<br>
<br>
<p><h2 class='center'>{{header}}</h2></p>
<div class="status alert alert-success" style="display: none"></div>
	<center>
		<div class="container">
			<label>Busque la categoria que desea</label>
			<input type="text" ng-keyup="complete(text)" ng-model="text">
			<ul class="list-group" ng-model="hidethis" ng-hide="hidethis">
				<li class="list-group-item" ng-repeat="all in filterCategory" ng-click="fillTextbox(all)">{{all}}</li>
			</ul>
		</div>
	</center>
	<div id="results" class="center"></div>
		<center>
			<div id="error" ng-show="error">{{error_text}}</div>
	    	<div ng-repeat="category in categories" id="list_categories">
	    		<tr>
	    			<th><button ng-click="search_subcategories()" ng-show="list" value="{{category.cod}}">{{category.name}}</button>
	    		</th>
	    	</tr>
	    	</div>
	    	<div id="list_subcategories" ng-repeat="subcategory in subcategories">
	    		<tr>
	    			<th><button ng-click="search_specific_categories()" ng-show="list2">
	    			{{subcategory.name}}</button>
	    		</th>
	    	</tr>
	    	</div>
	    	<div id="list_specific_categories" ng-repeat="specific_category in specific_categories">
	    		<tr>
	    			<th>
	    				<button ng-click="search_specific_news()" ng-show="list3">{{specific_category.concrete_name}}</button>
	    			</th>
	    		</tr>
	    	</div>
	    	<div id="list_news"></div>
	    	<div class="pagination_news"></div>
		</center>
		<center>
			<div id="load_more">
				<button ng-show="load_more" ng-click="search_all_subcategories()">
					Ver todo
				</button>
				<table ng-show="news_data" border="2">
					<tr>
						<th>Autor</th>
						<th>Titular</th>
						<th>Fecha</th>
					</tr>
					<tr ng-repeat="new in news">
						<td>{{new.author}}</td>
						<td>{{new.headline}}</td>
						<td>{{new.event_date}}</td>
					</tr>
				</table>
				<button ng-show="return" ng-click="back()">
					Atrás
				</button>
			</div>
			<div id="all_news">
				<button ng-show="all_news" ng-click="list_all_news()">
					Ver todas las noticias
				</button>
			</div>
             <div class="news"  ng-repeat="news in filteredNews" ng-show="show_news">
                    <div>
                        <div class="name">{{news.author}}</div>
                        <div class="type">Titular: {{news.headline}}</div>
                        <div class="fecha"> Fecha: {{news.event_date}}</div>
                        <div class="place"> Categoria: {{news.category}}</div>
                        <hr>
                    </div>
             </div>
                <p ng-show="show_news"> Total Results: {{all_news.length}} <p>
		    <div id="pager">
                    <uib-pagination class="pagination-sm pagination" total-items="all_news.length" ng-model="currentPage"
                    ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=3 ng-show="show_news"></uib-pagination>        
            </div>
		</center>
</div>