    <section id="footer-sec" >

            <div class="container">
           <div class="row  pad-bottom" >
            <div class="col-md-4">
                <h4> <strong>SOBRE NOSOTROS</strong> </h4>
                            <p>
                               Periódico de actualidad creado en 2018
                            </p>
                </div>
               <div class="col-md-4">
                    <h4> <strong>REDES SOCIALES</strong> </h4>
                   <p>
                     <a href="#"><i class="fa fa-facebook-square fa-3x"  ></i></a>
                        <a href="#"><i class="fa fa-twitter-square fa-3x"  ></i></a>
                        <a href="#"><i class="fa fa-linkedin-square fa-3x"  ></i></a>
                       <a href="#"><i class="fa fa-google-plus-square fa-3x"  ></i></a>
                   </p>
                </div>
               <div class="col-md-4">
                   <h4> <strong>ENCUÉNTRANOS</strong> </h4>
                            <p>
                               Ontinyent, Av/ Albaida 3-A, <br />
                               La Vall D'Albaida  <br />
                               Valéncia España -46870
                            </p>
                </div>
               </div>
            </div>
    </section>
</body>
</html>