         <!-- alertbanner -->
        <div ng-controller="menuCtrl">
        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
                  <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Avato News</a>
                </div>
 <!--                <ul class="agile_forms">
                  <li id="LogProf">
                        <a id="acceder" ng-show="accederV" href="" class="button special" ng-click="open()" >Acceder</a>
                        <a id='profile' ng-show="profileV" href='#/user/profile'><img ng-show="profileV" id='menuImg' class='icon rounded' src='{{avatar}}'/>{{nombre}}</a>
                    </li>

                    <li><a id='logout' ng-show="logoutV" ng-click='logout()' >Log Out</a></li>
                </ul> -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                  <nav>
                    <ul class="nav navbar-nav navbar-right">
                      <li><a href="#/" class="hvr-underline-from-center">Home</a></li>
                      <li><a href="#/contact" class="hvr-underline-from-center">Contact</a></li>
                      <li><a href='#/categories' class="hvr-underline-from-center">Categorias</a></li>
                      <li><a href='#/international' class="hvr-underline-from-center">International</a></li>
                      <li><img width="50" height="50" ng-show="photo_menu" src="{{ photo_user }}"></li>
                      <li><a href='#/login/profile' class="hvr-underline-from-center" ng-show="user_menu">{{name_user}}</a></li>
                      <li><a href='#/login' class="hvr-underline-from-center" ng-show="login_button">Login</a></li>
                      <li><a ng-click="logout()" class="hvr-underline-from-center" ng-show="logout_button">Logout</a></li>

 <!--                      <li><a href="#/events" class="hvr-underline-from-center">Events</a></li>
                      <li><a href='#/myevents' id='myevents' ng-show="myeventsV" class="hvr-underline-from-center">My Events</a></li> -->
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
            <br><br><br>
            <div id="alertbanner" ng-show="bannerV"><a  ng-class='bannerClass'>{{bannerText}}</a></div>
          </div>
        <!--       <div class="clearfix"> </div> -->